* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


/* :root {
    background-color: #F5F5F5; 
    searcher color: #DDEBEE
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Subrayada', sans-serif;
 
} */

@font-face {
    font-family: RecoletaFont;
    src: url(./font/recoleta-cufonfonts-webfont/Recoleta-RegularDEMO.woff);
  }


.navbar{
    max-height: 9vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F5;
    font-size: 1.7rem;
    font-weight: 400;
    font-family: RecoletaFont, sans-serif;
    padding-left: 2%;
    padding-right: 2%;
}

.nav-elements{
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* margin-right: 30px; */
    padding: 2%;
    
}

#search {
    height: 5vh;
    text-decoration: none;
    border-radius: 10px;
    background-color: #DDEBEE;
    padding-right: 2%;
}

.hero{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url('img/portrait-2.jpg'); */
    background-size: cover;
    
    background-repeat: no-repeat;
    background-color: #DDEBEE;
    background-image: url(./img/record-player-4994400_1920.jpg);
    background-position: right;

}

.hero-title h1{ 
    /* color: #9f0606; */
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: RecoletaFont, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    background-color: #252b2e;
    color: white;
    height: 10%;
    
}

.products {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(25rem,1fr));
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
    width: 100vw;
    height: auto;
    background-color:  #F5F5F5;
    /* border: 2px solid blue; */
    justify-content: center;
    align-items: center;

}

.card {
 width: 22vw;
 height: 50vh;
 display: flex;
 flex-direction: column;
 border: #2F3C42 1px solid;
 border-radius: 5px;
 filter: box-shadow(0 0 0.75rem #2F3C42);
 margin-left: 20%;
 overflow-x: hidden;
 justify-content: space-between;
 align-items: center;
 margin-top: 5% ;
 padding: 10px;
}

img {
    width: 60%;
    height: 60%;   
    object-fit: cover;
}

.card p { 
    font-size: 1.1rem;
    font-family: RecoletaFont, sans-serif;
}

.card button {
    border: none;
    background-color: #0152B8;
    border-radius: 5px;
    padding: 10px;
    color: #F5F5F5;
    cursor: pointer;
}

.card .disc1 { grid-area: 1 / 1 / 2 / 2; }
.card .disc2 { grid-area: 1 / 2 / 2 / 3; }
.card .disc3 { grid-area: 1 / 3 / 2 / 4; }
.card .disc4 { grid-area: 2 / 1 / 3 / 2; }
.card .disc5 { grid-area: 2 / 2 / 3 / 3; }
.card .disc6 { grid-area: 2 / 3 / 3 / 4; }
.card .disc7 { grid-area: 3 / 1 / 4 / 2; }
.card .disc8 { grid-area: 3 / 2 / 4 / 3; }
.card .disc9 { grid-area: 3 / 3 / 4 / 4; }


.form-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    padding: 8%;
    /* border: solid 2px red; */
    background-color:  #333640;
    background-image: './img/portrait.jpg';

}
.form {
    /* border: #0152B8 2px solid; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.form{
    font-family: RecoletaFont, sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    

}
.input1{border-radius: 5px;}
.input2{
    /* border: red solid 2px; */
    width: auto;
    height: 20vh;
    border-radius: 5px;

}
.title-container{
    font-family: RecoletaFont, sans-serif;
    color: white;
    font-size: 3rem;
    /* border: #0152B8 2px solid; */
}
/* .bg-container{
    border: 2px solid green;
    width: 100%;
    height: 40%;
    background-image: url('./img/bg-discs.jpg');
    background-position: 1%;
    object-fit: fill;

} */